<section id="seccionfinal">


    </section>

    <div class="clear"></div> 
    
    
    <section id="metodos">

        <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838965/mastercard_sqjpdx.jpg" alt="" id="master">
        <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838966/Paypal_vhbj3x.jpg" alt="" id="paypal">
        <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838966/pse_isoond.jpg" alt="" id="pse">
        <img src="https://res.cloudinary.com/dspugxtgr/image/upload/v1687838968/visa_eodsoc.jpg" alt="" id="visa">

    </section>
 
<div class="clear"></div>



<footer>

    <div class="foter">

        <div class="parte1">
            <p id="pfinal"><b>&copy; 2023 Ecotecnology.</b></p>
            <a href="" [routerLink]="[ '/privacidad' ]">privacidad</a>
            <a href="" [routerLink]="[ '/terminos' ]">terminos</a>
            <a href="" [routerLink]="[ '/datosPagina' ]">Datos de la empresa</a>
        </div>

        <div class="parte2">
            <a  href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Logo_de_Facebook.png" alt="" class="facebook">  </a>

            <a  href="#"><img src="https://e7.pngegg.com/pngimages/16/46/png-clipart-made-in-kings-heath-instagram-facebook-female-graphy-instagram-logo-instagram-icon-text-trademark.png" ></a>
        </div>

    </div>

</footer>
