<div>
    <app-nav></app-nav>
</div>

<div class="contenedor">
    <div id="contenedorHijo">
        <div class="primerParrafo">
            <h2> Política de Privacidad - Ecotechnology Colombia </h2>

            <p>Nuestra Política de Privacidad tiene como objetivo garantizar la transparencia y seguridad en el manejo
                de la
                información personal de nuestros usuarios en Colombia. A continuación, se detalla cómo recopilamos,
                utilizamos y
                compartimos la información, así como tus derechos de privacidad.</p>
        </div>

        <hr>

        <div class="segundoParrafo">
            <h2> Colombia </h2>
            <ul>
                <li>
                    <h3>Política de Privacidad para Colombia (español).</h3>
                </li>
            </ul>

            <br>

            <p> Revisa las políticas de privacidad suplementarias vinculadas en los documentos de la Política de
                Privacidad,
                especialmente aquellas relacionadas con los servicios de Ecotechnology que puedas utilizar en Colombia.
            </p>
        </div>

        <hr>

        <div class="tercerParrafo">
            <h2> Documentos Complementarios de la Política de Privacidad: </h2>

            <ul>
                <li>
                    <h3>Solo para Colombia.</h3>
                </li>

                <br>

                <li>
                    <p>La Directiva DAC 7 y personas que no son usuarios de la plataforma.</p>
                </li>
            </ul>



        </div>

        <hr>

        <div class="cuartoParrafo">
            <h2> Artículos Relacionados:</h2>
            <ul>
                <li>
                    <p>Lo esencial de Ecotechnology.</p>
                </li>

                <br>

                <li>
                    <p>Verificar tu identidad.</p>
                </li>

                <br>

                <li>
                    <p>Verificar tu identidad
                        Tu seguridad es nuestra prioridad. Conoce los pasos que tomamos para verificar y mantener segura
                        tu
                        identidad.</p>
                </li>

            </ul>
        </div>

        <hr>

        <div class="quintoParrafo">
            <h2>Anfitrión:</h2>
            <ul>
                <li>
                    <p>Crea un código único para donaciones en Colombia.</p>
                </li>
                <li>
                    <p>A partir del 31 de octubre de 2023, las autoridades fiscales colombianas permiten la creación de
                        un
                        código único para donaciones de componentes electrónicos.</p>
                </li>
            </ul>



        </div>

        <hr>

        <div class="sextoParrafo">
            <h2>Información acerca de los cambios en nuestros Términos:</h2>
            <ul>
                <li>
                    <p>Revisa esta información sobre las actualizaciones en nuestros Términos para estar al tanto de
                        cualquier
                        cambio
                        en nuestras políticas y prácticas.</p>
                </li>
            </ul>
            <br>
            <p> Ecotechnology Colombia está comprometida con el reciclaje y la reutilización de componentes electrónicos
                para
                contribuir al cuidado del medio ambiente en Colombia. Apreciamos tu participación y colaboración.</p>
        </div>
    </div>

</div>

<div>
    <app-footer></app-footer>
</div>