* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;/* app.component.css */
  

  section{
    margin-left: 185px;
  }
  
  

  .btn-go-back {
    /* Agrega sombra al botón */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 9999;
  }
  
  .btn-go-back:hover {
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    color: rgb(14, 111, 156);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Agrega más sombra al hover */
  }
  
  .btn-go-back:active {
    transform: scale(0.9);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); /* Agrega sombra al pulseo */
  }
  
  .icon-arrow-left {
    fill: #333;
    width: 44px;
    height: 44px;
    transform: rotateY(180deg);
  }
  
  .sr-only {
    position: absolute;
    width: 10px;
    height: 10px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  


  
   /* Estilos para el formulario */
  
   #principal{
    background: rgb(14, 111, 156);
    height: 28vh;
    margin: auto;
    overflow: hidden;
   }
  
  
  .formulario-section {
    display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  color: black; 
  width: 60%;
  padding: 55px;
  margin-left: 20%;
  margin-top: -120px;
  position: relative;
  z-index: 1;
  }
  
  .formulario-section h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .form-row {
    display: flex;
    justify-content: center; /* Modificar esta propiedad */
    width: 100%;
  }
  
  .form-group {
    flex: 0;
    margin-bottom: 1rem;
    order: 1;
    padding-top: 0px;
    width: 100%; /* Cambiar el ancho a 100% */
    max-width: 450px;  
    margin-left: 80px;
     /* Agregar una propiedad max-width */
  }
  
  
  .another-form-group {
    flex: 1;
    margin-bottom: 1rem;
    order: 2;
    padding-top: 0px;
    width: 100%;
    max-width: 450px;
  } 
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  
  .formulario-section .form-control {
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
   
  }
  
  
  
  .formulario-section .form-control:hover {
    border-color: #45ce23;
    cursor: pointer;
  }
  
  input{
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .profile-pic-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 2rem auto;
  }
  
  .profile-pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  button {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: #45ce23;
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #28a4d4;
  }
  font-family: sans-serif;
}

body {
  font-size: 16px;
  color: #333;
  background-color: #f3f3f3;
}

.citas {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Altura mínima para centrado vertical */
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #008000; /* Verde como color principal */
}

.busca {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buscador, .fechas, .report {
  display: flex;
  align-items: center;
}

.buscador input,
.fechas input {
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 15px;

}

.buscador .btn,
.fechas .btn,
.report .btn {
  border: none;
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
  color: #008000; /* Verde para botones */
}

.report .btn:hover {
  background-color: #f0f0f0;
}


.btn {
  font-size: 16px;
  border: none;
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
  color: #008000; /* Verde para botones */
}

.btn:hover {
  background-color: #f0f0f0;
}