<div>
    <div>
        <app-nav-usuario></app-nav-usuario>
    </div>
</div>
<div class="contenedorPadre">
    <div class="SeccionBotones1">
        <button id="boton1" [routerLink]="['/perfilUser']">Informacion Personal</button>
        <a><button id="boton2">Informacion Direccion</button></a>
    </div>

    <div class="contenedorHijo">
        <div class="container">
            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="account-settings">
                                <div class="user-profile">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                            alt="Maxwell Admin">
                                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB
                                        </div>
                                        <button class="btn btn-outline-primary">Subir Imagen</button>
                                    </div>

                                    <hr class="my-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row gutters">

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                      <label for="fullName">Barrio:</label>
                                      <input type="text" class="form-control" id="fullName"  [placeholder]="barrio">
                                    </div>
                                  </div>
                                  
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                      <label for="eMail">Municipio:</label>
                                      <input type="text" class="form-control" id="eMail"  [placeholder]="municipio">
                                    </div>
                                  </div>
                                  
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                      <label for="phone">Direccion Completa:</label>
                                      <input type="text" class="form-control" id="phone"  [placeholder]="direccionCompleta">
                                    </div>
                                  </div>
                                  
                                <div class="row">
                                    <div class="col-sm-9 text-secondary">
                                        <button class="btn btn-outline-primary" (click)="editarDireccion()">Editar
                                            Direccion</button>
                                        <button class="btn btn-outline-primary" (click)="guardarDireccion()">Guardar
                                            Direccion</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="https://payco.link/2798654"><img src="https://multimedia.epayco.co/dashboard/btns/btn5.png"></a>

        <div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
