<div>
    <app-nav></app-nav>
</div>

<div>
    <div class="contenedor">
        <div id="contenedorHijo">
            <div class="primerParrafo">
                <h2>Datos de la Empresa - Ecotechnology Colombia</h2>

                <p>Ecotechnology es un proveedor de servicios en la plataforma que promueve el reciclaje y reutilización
                    de
                    componentes electrónicos en Colombia. A continuación, se detallan los datos relevantes de la
                    empresa.
                </p>
            </div>

            <hr>

            <div class="segundoParrafo">
                <h2>Dirección de la Empresa en Colombia:</h2>
                <p>Ecotechnology Colombia</p>
                <h3>[Dirección de la empresa]</h3>
                <h3>[Ciudad]</h3>
                <h3>[País]</h3>
            </div>

            <hr>

            <div class="tercerParrafo">
                <h2>Número de Identificación Tributaria (NIT) en Colombia:</h2>
                <h3>NIT: [Número de NIT]</h3>
            </div>

            <hr>

            <div class="cuartoParrafo">
                <h2>Número de Registro Nacional de Turismo (RNT):</h2>
                <h3>RNT: [Número de RNT]</h3>
            </div>

            <hr>

            <div class="quintoParrafo">

                <h2>Contacto para Servicios de Pago en Colombia:</h2>
                <p>Ecotechnology Payments Colombia Ltda.</p>
                <h3>[Dirección de la empresa]</h3>
                <h3>[Ciudad]</h3>
                <h3>[País]</h3>
            </div>

            <hr>

            <div class="sextoParrafo">

                <h2>Número de Identificación de la Empresa:</h2>
                <h3>Número de Identificación: [Número de Identificación]</h3>

                <p>Ecotechnology Payments Colombia Ltda. está autorizada y regulada por las autoridades competentes
                    según
                    las
                    regulaciones colombianas.</p>
            </div>

            <hr>

            <div class="septimoParrafo">
                <h2>Otra Información Relevante:</h2>

                <p>La plataforma de Ecotechnology facilita el contacto directo entre los donantes de componentes
                    electrónicos y la
                    empresa. Ecotechnology no forma parte de los acuerdos entre donantes y la empresa. Cualquier
                    inconveniente o
                    solicitud relacionada con los componentes electrónicos debe ser presentada directamente a
                    Ecotechnology.
                    Si no
                    se obtiene una respuesta satisfactoria, los usuarios pueden comunicarse con Ecotechnology para
                    revisar
                    su caso.</p>
            </div>

            <hr>

            <div class="octavoParrafo">

                <h2>Contacto de Ecotechnology para consultas, quejas, reclamos y ejercicio del derecho de retracto:</h2>
                <ul>
                    <li><h3>Sitio web: [Sitio web de Ecotechnology]</h3></li>
                    <li><h3>Teléfono de Contacto: [Número de Teléfono]</h3></li>
                </ul>

            </div>

            <hr>

            <div class="novenoParrafo">

                <h2>Derecho de Retracto:</h2>
                <p>Los usuarios de Ecotechnology tienen [número de días] días hábiles después de realizar una donación
                    para
                    ejercer
                    su derecho de retracto. La solicitud será evaluada y el reembolso se realizará, si es procedente,
                    dentro
                    de los
                    [número de días] días siguientes. Si la gestión de reciclaje ya ha comenzado, el retracto no será
                    procedente.</p>
            </div>

            <hr>

            <div class="decimoParrafo">

                <h2>Link a la Superintendencia de Industria y Comercio (SIC):</h2>
                <h3>[Sitio web de la Superintendencia de Industria y Comercio]</h3>
            </div>

            <hr>

            <div class="onceavoParrafo">

                <h2>Código de Conducta:</h2>
                <p>Ecotechnology sigue el Código de Conducta para prevenir la utilización y explotación sexual de niños,
                    niñas y
                    adolescentes, de acuerdo con la Resolución [Número de Resolución] del Ministerio de Comercio,
                    Industria
                    y
                    Turismo.</p>
            </div>

            <hr>

            <div class="doceavoParrafo">

                <h2>Número de RNT para Anfitriones (si aplica):</h2>

                <p>De acuerdo con la normativa vigente, si Ecotechnology es considerada un proveedor de servicios
                    turísticos, se
                    incluirá el Número de Registro Nacional de Turismo (RNT) en cada uno de sus anuncios según las
                    pautas
                    establecidas por la normativa colombiana.</p>
            </div>
        </div>
    </div>
</div>

<div>
    <app-footer></app-footer>
</div>